/* General  */
body{
    font-family: "Poppins", sans-serif;
}
/* :root{
    --main-color: #212529;
    --secondary-color: #fca311 ; 
    --secondary-color: #ffc107 ; 
    --terynary-color: #14213d ; 
    --forth-color: antiquewhite ; 
} */
:root{
    --main-color: cadetblue;
    --secondary-color: #4f200c ; 
    --trainary-color: antiquewhite ; 
}
.section-heading{
    text-align: center;
}
.section-heading h3{
    font-size: 2.7rem;
    font-weight: 600;
    text-transform: uppercase;
    color: #222222;
    text-decoration-line: underline;
    text-decoration-style: double;
    text-decoration-thickness: 2px;
}
.section-heading h6{
    color: var(--main-color);
    transform: translateX(-12%);
}


/* 
Custon Shape Divider 
https://www.shapedivider.app/
*/
/* filling Color for each section in its part */

.custom-shape-divider-bottom-1708362943 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1708362943 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 27px;
    transform: rotateY(180deg);
}




/** For mobile devices **/
@media (max-width: 767px) {
    .custom-shape-divider-bottom-1708107701 svg {
        width: calc(100% + 1.3px);
        height: 67px;
    }
}


/********************************************** Start Heading **********************************************/
header{
    z-index: 20;
}
@media (min-width: 992px) {
    header nav{
        min-width: 80%;
        margin: auto;
    }
}
header .navbar-brand{
    font-family: 'Rubik', sans-serif;
    font-size: 1rem;
    border: 1px solid #fff;
    padding: 5px;
    border-radius: 4px;
}
header .nav-pills .nav-item a{
    border: none;
    color: #fff;
}
header .nav-pills{
    background-color: var(--main-color) !important;
}
header .nav-pills .nav-item a:hover{
    color: var(--trainary-color);
    /* border: 1px solid var(--secondary-color); */
}
header .nav-pills .nav-item a.active{
    background-color: var(--secondary-color);
    color: var(--trainary-color);
}

#home{
    background-color: var(--trainary-color);
    min-height: 100vh;
    position: relative;
}


#home h2.hello{
    font-size: 2.2rem;
    font-weight: 700;
}
#home h2.title{
    color: var(--main-color);
    font-size: 4rem;
    font-weight: 900;
}
@media (max-width: 340px) {
    #home .welcome .intro{
        margin: 1rem 0 !important;
        padding: 0 !important;
    }
    #home h2.hello{
        font-size: 2rem;
    }
    #home h2.title{
        font-size: 3rem;
    }
}

/* **************************************************************************************** */

#home .text-container {
    width: fit-content;
    height: fit-content;
  }
  #home .content {
    display: block;
    position: sticky;
    overflow: hidden;
    font-family: 'Lato', sans-serif;
    font-size: 35px;
    line-height: 40px;
    color: var(--secondary-color);
  }
  
  #home .content__container {
    font-weight: 600;
    overflow: hidden;
    /* height: 40px; */
    padding: 0 1.2rem;
  }
  #home .content__container__text {
    display: inline-block;
    white-space: nowrap;
  }
  
  #home .content__container:before {
    content: '[';
    left: 0;
  }
  
  #home .content__container:after {
    content: ']';
    position: absolute;
    right: 0;
  }
  
  #home .content__container:after, .content__container:before {
    position: absolute;
    top: -2px;
    color: var(--main-color);
    font-size: 42px;
    line-height: 40px;
    -webkit-animation-name: opacity;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    animation-name: opacity;
    animation-duration: 2s;
    animation-iteration-count: infinite;
  }
  
  
@media (max-width: 460px) {
    .content__container__text {
        white-space: wrap;
        margin-left: 6px;
    }

    .content__container:after, .content__container:before {
        font-size: 50px;
        line-height: 75px;
        font-weight: 520;
    }
    .content__container:after {
        right: unset;
        left: 16rem;
    }
}
@media (max-width: 340px) {
    .content__container__text {
        font-size: 25px;
        line-height: 30px;
        margin-top: .5rem;
    }
    .content__container:after, .content__container:before {
        line-height: -10px;
    }
    .content__container:after {
        right: unset;
        left: 12rem;
    }
}

#home .welcome .skills img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 10px;
}




#home .photo{
    background-image: url(../img/test.png);
    background-size: cover;
    background-position: center center;
    position: relative;
    box-shadow: 0 20px 5px 5px rgba(0, 0, 0, .2);
    overflow: hidden;
    height: 600px;
    width: 90%;
    background-color: #4f200c13;
    scale: .8;
}
#home .wrapper .spacer{
   height: 5%;
}



@media (min-width: 992px) { 
    #home .wrapper .photo{
        background-image: url(../img/test.png);
        background-size: cover;
        background-position: center center;
        position: relative;
        box-shadow: 0 20px 5px 5px rgba(0, 0, 0, .2);
        animation: animate 5s ease-in-out infinite;
        transition: all 1s ease-in-out;
        overflow: hidden;
        width: auto;
        scale: 1;
    }
    #home .wrapper .spacer{
        height: 10%;
     }
}
@media screen and (max-width: 767px) {
    #home .wrapper .photo{
        height: 350px;
        scale: .7;
    }
    #home .wrapper .spacer{
        height: 12%;
     }
}

/* 
Custon Shape Divider color
https://www.shapedivider.app/
*/


#home .custom-shape-divider-bottom-1708362943 .shape-fill {
    fill: #fff;
}



  @keyframes opacity {
    0%, 100% {
      opacity: 0;
    }
  
    50% {
      opacity: 1;
    }
  }
 


@keyframes animate{
    0%{
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }
    50%{
        border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
    }
    100%{
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }
}



   /******************************************************** Start Services section ********************************************************/
#services {
position: relative;
padding-bottom: 2rem;
}
#services .service-description>p {
line-height: 1.7;
font-size: 1.1rem;
color: #545553;
}
#services .service-description .accordion{
--bs-accordion-active-color: var(--main-color);
--bs-accordion-btn-color: var(--main-color);
--bs-accordion-btn-focus-box-shadow: var(--main-color);
--bs-accordion-border-color: var(--main-color);
--bs-accordion-active-bg: var(--trainary-color);
}
#services .service-description .accordion-body {
font-size: 1.1rem;
font-weight: 400;
}

/* 
Custon Shape Divider color
https://www.shapedivider.app/
*/


#services .custom-shape-divider-bottom-1708362943 .shape-fill {
    fill: var(--trainary-color);
}


   /******************************************************** Start Project section ********************************************************/


/* #projects *{
    font-family: "Poppins", sans-serif;
} */
#projects{
    background-color: var(--trainary-color);
    position: relative;
    padding-bottom: 2rem;
}
#projects a{
    text-decoration: none;
}
#projects ul{
    list-style: none;
}

#projects .projects-filter{
    display: flex;
    flex-wrap: wrap;
    margin: 20px auto;
    width: 35%;
}
#projects .projects-filter label{
    border-radius: 0;
    margin: 2px;
    white-space:no-wrap;
}

.hide {
    opacity: 0;
    height: 0;
  }
#projects .card{
    transition: all .3s;
    padding: 5px;
}
#projects .card-box{
    transition: opacity 0.3s linear, height 0.3s linear;
}
#projects .card:hover{
    transform: scale(1.05);
}

#projects .custom-shape-divider-bottom-1708362943 .shape-fill {
    fill: #fff;
}


/* Start Testimonials */
#testimonials {
    padding-top: 50px;
    padding-bottom: 50px;
    position: relative;
    background-color: #fff;
  }
  #testimonials .container {

  }
  #testimonials .box {
    padding: 20px;
    background-color: var(--trainary-color);
    box-shadow: 0 2px 4px rgb(0 0 0 / 7%);
    border-radius: 6px;
    position: relative;
  }
  #testimonials .box img {
    position: absolute;
    right: -10px;
    top: -50px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 10px solid #fff;
  }
  #testimonials .box h3 {
    margin: 0 0 10px;
    font-size: 1.2rem !important;
  }
  #testimonials .box .title {
    color: #777;
    margin-bottom: 10px;
    display: block;
    font-weight: 700;
  }
  #testimonials .box .rate .filled {
    color: #ffc107;
  }
  #testimonials .box p {
    line-height: 1.5;
    color: #777;
    margin-top: 10px;
    margin-bottom: 0;
  }
  /* End Testimonials */

  

/* Start Stats */
#statistics {
    padding-top: 50px;
    padding-bottom: 50px;
    position: relative;
    background-image: url("../img/stats.jpg");
    background-size: cover;
    min-height: 300px;
  }
#statistics h3{
    position: relative;
}
  #statistics::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(255 255 255 / 95%);
  }
 
 
  #statistics .box {
    background-color: white;
    padding: 30px 15px;
    text-align: center;
    position: relative;
    opacity: 0.9;
    transition: .3s;
    border: 1px solid #00000031;
    border-radius: 4px;
  }
  #statistics .box::before,
  #statistics .box::after {
    content: "";
    position: absolute;
    width: 2px;
    background-color: var(--main-color);
    transition: 1s;
    height: 0;
  }
  #statistics .box::before {
    top: 0;
    right: 0;
  }
  #statistics .box::after {
    left: 0;
    bottom: 0;
  }
  #statistics .box:hover {
    opacity: 1;
  }
  #statistics .box:hover::before,
  #statistics .box:hover::after {
    height: 100%;
  }
  #statistics .box .number {
    display: block;
    font-size: 50px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  #statistics .box .text {
    color: var(--main-color);
    font-style: italic;
    font-size: 20px;
    font-weight: bold;
  }
  /* End Stats */
  
  
  /********************************************** Start Footer **********************************************/
footer {
    background-color: var(--secondary-color);
    color: #fff;
}
footer .logo{
    font-family: 'Rubik', sans-serif;
    font-size: 1.3rem;
    border: 2px solid var(--main-color);
    padding: 5px;
    border-radius: 4px;
    font-weight: 700;
    color: var(--main-color);
}
footer .social {
    height: fit-content;
}
footer .social ul{
    margin: 0;
}
footer .social ul li{
    margin-left: 1.3rem;
}
footer .social a{
    font-size: 23px;
}
/* footer .freepik a{
    color: #fff;
    text-decoration: none;
} */
